<div class="container">

  <div class="mainBox pb-3 shadow-sm">
    <div class="pageHeader container shadow-sm mb-4 stocksTitle">
      <div class="row">
        <div class="pageTitle col-sm-3">
        <h1>在庫一覧</h1>
        </div>

        <div class="pageTitle col-sm-3 my-auto">
        <h5 class="my-auto bg-light text-center">仕入れ合計：<%= Stock.sumstock %>袋</h5>
        </div>

        <div class="pageTitle col-sm-3 my-auto">
        <h5 class="my-auto text-danger bg-light text-center">現在庫：<%= Stock.sumpresentstock %>袋</h5>
        </div>


        <div class="newBtnBox col-sm-3 text-right">
        <button class="newBtnStocks my-2">
        <%= link_to '新規在庫（仕入れ）登録', new_stock_path %>
        </button>
        </div>

        <div class="col-sm-1"></div>

      </div>
    </div>
  
  <div class="tableBox container">
  <table class="mx-auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>入荷日</th>
        <th>生産者id</th>
        <th>生産者</th>
        <th>銘柄</th>
        <th>仕入れ量（袋）</th>
        <th>使用数（袋）</th>
        <th>現在庫</th>
        <th>品質</th>
        <th>備考</th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |stock| %>
      <tr>
        <td><%=link_to stock.id, stock %></td>
       <td><%= l stock.stock_arrivalday%></td>
        <td><%= l user.created_at %></td>

        <td><%= stock.farmer_id %></td>
        <td><%= stock.farmer.farmer_name %></td>

        <td><%= stock.stock_brand %></td>
        <td><%= stock.stock_purchased_amount %></td>
        <td><%= stock.stock_used_amount %></td>
        <td><%= stock.stock_present_amount %></td>
        <td><%= stock.stock_quality %></td>
        <td><%= stock.stock_memorandum %></td>
        
        <td class="showBtnBox"><button class="mx-1"><%= link_to "詳細", stock %></button></td>
        <td class="editBtnBox"><button class="mx-1"><%= link_to "編集", edit_stock_path(stock) %></button></td>
        <td class="deleteBtnBox"><button class="mx-1"><%= link_to "削除", stock ,method: :delete, data: {confirm: "削除します。この処理は取り消せません。"} %></button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div> 
  </div>


</div>
