<div class="container mb-5">
<p id="notice"><%= notice %></p>


<div class="mainBox pb-3 shadow-sm">
  <div class="pageHeader container shadow-sm mb-4 cliantsTitle">
    <div class="row">
      <div class="pageTitle col-sm-4">
      <h1>顧客　の詳細情報</h1>
      </div>

      <div class="newBtnBox col-sm-8 text-right">
      <button class="newBtnSales m-2 ">
        <%= link_to "顧客一覧へ戻る" , cliants_path%> 
      </button>
      <button class="newBtnSales m-2 ">
        <%= link_to "編集" , edit_cliant_path(@cliant) %> 
      </button>
      </div>
  </div>
</div>

<div class="container">

<h2> 顧客名：<%= @cliant.cliant_name %> </h2>
<p> 顧客タイプ：<%= @cliant.cliant_type %> </p>
<p> 担当者：<%= @cliant.cliant_officer %> </p>
<p> メールアドレス：<%= @cliant.cliant_email %> </p>
<p> 電話番号：<%= @cliant.cliant_tel %> </p>
<p> 取引開始時期：<%= @cliant.cliant_start_trading %> </p>
<p> 備考：<%= @cliant.cliant_memorandum %> </p>
<p> 配送区分：<%= @cliant.cliant_delivery_type %> </p>
<p> 送料：<%= @cliant.cliant_postage %> </p>
<p> 配送備考：<%= @cliant.cliant_postage_memorandum %> </p>
<p> 住所：<%= @cliant.cliant_address %> </p>
<p> 緯度：<%= @cliant.cliant_map_latitude %> </p>
<p> 経度：<%= @cliant.cliant_map_longitude %> </p>
<p> gmap：<%= @cliant.cliant_map_code %> </p>
<p> 累計売上（税別）：<%= @cliant.cliant_total_sales_without_tax %> </p>
<p> 累計売上（税込み）：<%= @cliant.cliant_total_sales_tax_included %> </p>


  </div>
</div>
