<div class="container mb-5">


<%= form_with(model: @polish, local: true) do |form| %>
  <% if @polish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polish.errors.count, "error") %> prohibited this polish from being saved:</h2>

      <ul>
      <% @polish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>


<div class="mainBox pb-3 shadow-sm">
  <div class="pageHeader container shadow-sm mb-4 polishesTitle">
    <div class="row">
      <div class="pageTitle col-sm-5">
      <h1>精米情報の編集</h1>
  </div>

      <div class="newBtnBox col-sm-7 text-right">
      <button class="newBtnSales m-2 ">
        <%= link_to '精米一覧へ戻る', polishes_path %> 
      </button>
  </div>

</div>
  </div>


<div class="container">

<%= form_for(@polish) do |f| %>
  <div class="field">
    <%= f.label :精米日 %><br>
    <%= f.datetime_select :polish_day %>
  </div>
    <div class="field">
    <%= f.label :精米数（袋） %><br>
      <%= f.number_field :polish_amount_total, :step => 0.5 %>
  </div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>内訳−１</h3>
    <div class="field">
      <%= f.label :生産者id %><br>
      <%= f.collection_select(:polish_1_farmer_id, @stocks, :id, :stock_brand, {prompt: "生産者を選択"} )%>
      </div>
        <div class="field">
      <%= f.label :生産者 %><br>
      <%= f.collection_select(:polish_1_farmer, @stocks, :stock_brand, :stock_brand, {prompt: "生産者を選択"} )%>
    </div>
    <div class="field">
      <%= f.label :銘柄 %><br>
      <%= f.collection_select(:polish_1_brand, @stocks, :stock_brand, :stock_brand, {prompt: "銘柄を選択"}, {class: "hoge"} )%>
    </div>
    <div class="field">
      <%= f.label :使用量（袋） %><br>
      <%= f.number_field :polish_1_amount, :step => 0.5 %>
    </div>
    </div>
    <div class="col-sm-4">
      <h3>内訳−２</h3>
    <div class="field">
      <%= f.label :生産者id %><br>
      <%= f.collection_select(:polish_2_farmer_id, @stocks, :id, :stock_brand, {prompt: "生産者を選択"} )%>
      </div>
        <div class="field">
      <%= f.label :生産者 %><br>
      <%= f.collection_select(:polish_2_farmer, @stocks, :stock_brand, :stock_brand, {prompt: "生産者を選択"} )%>
    </div>
    <div class="field">
      <%= f.label :銘柄 %><br>
      <%= f.collection_select(:polish_2_brand, @stocks, :stock_brand, :stock_brand, {prompt: "銘柄を選択"}, {class: "hoge"} )%>
    </div>
    <div class="field">
      <%= f.label :使用量（袋） %><br>
      <%= f.number_field :polish_2_amount, :step => 0.5 %>
    </div>

    </div>
    <div class="col-sm-4">
      <h3>内訳−３</h3>
    <div class="field">
      <%= f.label :生産者id %><br>
      <%= f.collection_select(:polish_3_farmer_id, @stocks, :id, :stock_brand, {prompt: "生産者を選択"} )%>
      </div>
        <div class="field">
      <%= f.label :生産者 %><br>
      <%= f.collection_select(:polish_3_farmer, @stocks, :stock_brand, :stock_brand, {prompt: "生産者を選択"} )%>
    </div>
    <div class="field">
      <%= f.label :銘柄 %><br>
      <%= f.collection_select(:polish_3_brand, @stocks, :stock_brand, :stock_brand, {prompt: "銘柄を選択"}, {class: "hoge"} )%>
    </div>
    <div class="field">
      <%= f.label :使用量（袋） %><br>
      <%= f.number_field :polish_3_amount, :step => 0.5 %>
    </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-4 px-3">
      <h3>内訳−４</h3>
    <div class="field">
      <%= f.label :生産者id %><br>
      <%= f.collection_select(:polish_4_farmer_id, @stocks, :id, :stock_brand, {prompt: "生産者を選択"} )%>
      </div>
        <div class="field">
      <%= f.label :生産者 %><br>
      <%= f.collection_select(:polish_4_farmer, @stocks, :stock_brand, :stock_brand, {prompt: "生産者を選択"} )%>
    </div>
    <div class="field">
      <%= f.label :銘柄 %><br>
      <%= f.collection_select(:polish_4_brand, @stocks, :stock_brand, :stock_brand, {prompt: "銘柄を選択"}, {class: "hoge"} )%>
    </div>
    <div class="field">
      <%= f.label :使用量（袋） %><br>
      <%= f.number_field :polish_4_amount, :step => 0.5 %>
    </div>
    </div>
    <div class="col-sm-4 px-3">
      <h3>内訳−５</h3>
    <div class="field">
      <%= f.label :生産者id %><br>
      <%= f.collection_select(:polish_5_farmer_id, @stocks, :id, :stock_brand, {prompt: "生産者を選択"} )%>
      </div>
        <div class="field">
      <%= f.label :生産者 %><br>
      <%= f.collection_select(:polish_5_farmer, @stocks, :stock_brand, :stock_brand, {prompt: "生産者を選択"} )%>
    </div>
    <div class="field">
      <%= f.label :銘柄 %><br>
      <%= f.collection_select(:polish_5_brand, @stocks, :stock_brand, :stock_brand, {prompt: "銘柄を選択"}, {class: "hoge"} )%>
    </div>
    <div class="field">
      <%= f.label :使用量（袋） %><br>
      <%= f.number_field :polish_5_amount, :step => 0.5 %>
    </div>

    </div>
    <div class="col-sm-4 px-3">
    </div>
  </div>
</div>


<br>
<div class="actions">
  <%= f.submit "精米情報を更新"%>
</div>
<% end %>


</div>